# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json  # agar tere personal settings nahi daalni toh remove kar dena
.history/

# Mac OS junk
.DS_Store

# Windows junk
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*~

# Logs
*.log
